* {
  margin: 0px;
}

.App {
  background-color: #fafafa;
}

.app__header {
  background-color: white;
  padding: 0px 20px;
  height: 54px;
  align-items: center;
  display: flex;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
}
